.header-container {
  background-color: #002b5c;
  padding: 15px 30px;
  display: flex;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 

  nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }

  .logo {
    width: 180px; 
    height: auto; 
    margin-right: 200px; 
    border-radius: 3px;
  }


/* Media Query para vista movil */
@media (max-width: 768px) {
  padding: 10px 20px; 

  .logo {
    width: 150px; 
    margin-right: 50px; 
  }

  nav ul {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    margin-top: 10px;
  }
}

/* Pantallas muy pequeñas */
@media (max-width: 480px) {
  .logo {
    width: 120px;
  }

  nav ul {
    gap: 10px; 
  }
}
}

