@defer {
  <div class="table-container">
    <h2>Lista de Estudiantes Registrados</h2>
    <table class="students-table">
      <thead #encabezado>
        <tr>
          @for (header of headerKeys; track header) {
            <th>{{ header }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @defer (on viewport(encabezado)) {
          @if (students$ | async; as students) {
            @for (student of students; track student.id_est) {
              <tr>
                <td>{{ student.nombre_est }}</td>
                <td>{{ student.appat_est }}</td>
                <td>{{ student.apmat_est }}</td>
                <td>{{ student.fnac_est }}</td>
                <td>{{ student.ci_est }}</td>
                <td>{{ student.dir_est }}</td>
                <td>{{ student.ncel_est }}</td>
                <td>{{ student.coins_est }}</td>
                <td>{{ student.carrera_est }}</td>
              </tr>
            }
            @empty {
              <div>No hay estudiantes registrados</div>
            }
          }
        } @placeholder {
          <p>Del placeholder</p>
          <mat-spinner mode="indeterminate" diameter="75"></mat-spinner>
        } @loading (minimum 1s; after 500ms) {
          <mat-spinner mode="indeterminate" diameter="75"></mat-spinner>
        } @error {
          <div class="error-container">
            <p>Error al renderizar los datos de estudiantes</p>
          </div>
        }
      </tbody>
    </table>
  </div>
}