<div class="table-container">
  <h2>Lista de Estudiantes Registrados</h2>
  <table class="students-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Carrera</th>
        <th>Fecha de Nacimiento</th>
        <th>Correo Electrónico</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Juan</td>
        <td>Pérez</td>
        <td>Ingeniería</td>
        <td>1999-03-15</td>
        <td>juan.perez&#64;gmail.com</td>
      </tr>
      <tr>
        <td>Maria</td>
        <td>Gómez</td>
        <td>Medicina</td>
        <td>2000-08-22</td>
        <td>maria.gomez&#64;gmail.com</td>
      </tr>
      <tr>
        <td>Pedro</td>
        <td>Rodríguez</td>
        <td>Derecho</td>
        <td>1998-11-10</td>
        <td>pedro.rodriguez&#64;gmail.com</td>
      </tr>
    </tbody>
  </table>
</div>



<div>
  <table>
    <thead>
      <tr></tr>
    </thead>
    <tbody>
      @if (students$ | async; as students) {
        @for (student of students; track student.id) {
          <tr>
            <th></th>
            <th></th>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
