@defer {
  <div class="table-container">
    <h2>Lista de Estudiantes Registrados</h2>
    <table class="students-table">
      <thead #encabezado>
        <tr>
          @for (header of headerKeys; track header) {
            <th>{{ header }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @defer (on viewport(encabezado)) {
          @if (students$ | async; as students) {
            @for (student of students; track student.id) {
              <tr>
                <th>{{ student.nombre }}</th>
                <th>{{ student.apellido }}</th>
                <th>{{ student.carrera }}</th>
                <th>{{ student.fechaNacimiento }}</th>
                <th>{{ student.email }}</th>
              </tr>
            }
          }
        } @placeholder {
          <p>Del placeholder</p>
          <mat-spinner mode="indeterminate" diameter="75"></mat-spinner>
        } @loading (minimum 1s; after 500ms) {
          <mat-spinner mode="indeterminate" diameter="75"></mat-spinner>
        } @error {
          <div class="error-container">
            <p>Error al renderizar los datos de estudiantes</p>
          </div>
        }
      </tbody>
    </table>
  </div>
}
