@defer {
  <div class="form-container">
    <h2>Registro de newStudent</h2>
    <form (ngSubmit)="addStudent()" #studentForm="ngForm">
      <div class="form-group">
        <label for="nombre_est">Nombre</label>
        <input
          type="text"
          id="nombre_est"
          name="nombre_est"
          [(ngModel)]="newStudent.nombre_est"
          required
        />
      </div>

      <div class="form-group">
        <label for="appat_est">Apellido Paterno</label>
        <input
          type="text"
          id="appat_est"
          name="appat_est"
          [(ngModel)]="newStudent.appat_est"
          required
        />
      </div>

      <div class="form-group">
        <label for="apmat_est">Apellido Materno</label>
        <input
          type="text"
          id="apmat_est"
          name="apmat_est"
          [(ngModel)]="newStudent.apmat_est"
          required
        />
      </div>

      <div class="form-group">
        <label for="fnac_est">Fecha de Nacimiento</label>
        <input
          type="date"
          id="fnac_est"
          name="fnac_est"
          [(ngModel)]="newStudent.fnac_est"
          required
        />
      </div>

      <div class="form-group">
        <label for="ci_est">CI</label>
        <input type="text" id="ci_est" name="ci_est" required />
      </div>

      <div class="form-group">
        <label for="dir_est">Dirección</label>
        <textarea
          id="dir_est"
          name="dir_est"
          [(ngModel)]="newStudent.dir_est"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <label for="ncel_est">Número de Celular</label>
        <input
          type="text"
          id="ncel_est"
          name="ncel_est"
          [(ngModel)]="newStudent.ncel_est"
          required
        />
      </div>

      <div class="form-group">
        <label for="coins_est">Correo Institucional</label>
        <input
          type="email"
          id="coins_est"
          name="coins_est"
          [(ngModel)]="newStudent.coints_est"
          required
        />
      </div>

      <div class="form-group">
        <button type="submit" class="submit-btn">Registrar</button>
      </div>
    </form>
  </div>
}
